@media only screen and (max-width: 600px) {
  #ProfileBody {
    background-color: white;
    //border-radius: 1.5em;

    height: 72em;
    //border: solid 1px;
  }

  // #ProfileAvatar {
  //   clear: both;
  //   float: left;
  //   background-color: brown;
  // }
  #ProfileHeader {
    height: 3em;
    width: 23em;
    float: left;
  }

  #ProfileHeaderLabel {
    width: 22em;
    height: 3em;
    padding-left: 20%;
    text-align: center;

    h1 {
      font-size: 18px;
      text-align: left;
    }
  }
  #ProfileEdit {
    height: 5em;
    height: 5em;

    float: right;
  }
  #ProfileEditImage {
    background-image: url('pencil.png');
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    clear: both;
    display: block;
    float: left;
  }

  a.ProfileA {
    color: red;
  }

  #ProfileLeftMargin {
    background-color: white;
    // border: solid 1px;
    height: 12em;

    padding: 2em 1em;
    float: left;
    //border-radius: 1.5em;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 24px;
  }

  #ProfilePersonal {
    text-align: left;
    background-color: white;
    border: solid 1px darkgray;
    height: 25em;
    width: 22em;
    margin: 1em 1em 0em 0em;
    padding: 0px 1em;
    float: left;
    //border-radius: 1.5em;
  }

  #ProfilePersonalLabel {
    // background-color: red;
    float: left;
    display: block;
    position: relative;
    padding: 10px;
    font-family: Verdana, sans-serif;
    font-size: 24px;
  }

  // Name
  #ProfilePersonal1 {
  }
  #ProfilePersonal1Label {
    clear: both;
    display: block;
    float: left;
    width: 7em;
    margin: 0.5em 0em;
    padding: 0em 0em 0em 1em;
  }
  #ProfilePersonal1Data {
    width: 11em;
    height: 1.7em;
    background-color: whitesmoke;
    //border: solid 1px;
    display: block;
    float: left;
    text-align: center;
    margin: 0.5em 0em;
    //border-radius: 1em;
  }
  // Surname
  #ProfilePersonal2 {
  }
  #ProfilePersonal2Label {
    clear: both;
    display: block;
    float: left;
    width: 7em;
    margin: 0.5em 0em;
    padding: 0em 0em 0em 1em;
  }
  #ProfilePersonal2Data {
    width: 11em;
    height: 1.7em;
    background-color: whitesmoke;
    //border: solid 1px;
    display: block;
    float: left;
    text-align: center;
    margin: 0.5em 0em;
    //border-radius: 1em;
  }

  // City
  #ProfilePersonal3 {
  }
  #ProfilePersonal3Label {
    clear: both;
    display: block;
    float: left;
    width: 7em;
    margin: 0.5em 0em;
    padding: 0em 0em 0em 1em;
  }
  #ProfilePersonal3Data {
    width: 11em;
    height: 1.7em;
    background-color: whitesmoke;
    //border: solid 1px;
    display: block;
    float: left;
    text-align: center;
    margin: 0.5em 0em;
    //border-radius: 1em;
  }
  // Description
  #ProfilePersonal4 {
  }
  #ProfilePersonal4Label {
    clear: both;
    display: block;
    float: left;
    width: 7em;
    margin: 0.5em 0em;
    padding: 0em 0em 0em 1em;
  }
  #ProfilePersonal4Data {
    width: 12em;
    height: 12em;
    background-color: whitesmoke;
    //border: solid 1px;
    display: block;
    float: left;
    text-align: left;
    padding: 0.1em 1em;
    margin: 0.5em 0em;
    //border-radius: 1em;
  }

  #ProfileStats {
    background-color: white;
    border: solid 1px darkgray;
    height: 22em;
    width: 22em;
    margin: 1em 1em 0em 0em;
    padding: 0px 1em;
    float: left;
    //border-radius: 1.5em;
  }
  #ProfileStatsLabel {
    float: left;
    display: block;
    position: relative;
    padding: 10px;
    font-family: Verdana, sans-serif;
    font-size: 24px;
  }

  // Liczba utworzonych wydarzeń
  #ProfileStats1 {
  }
  #ProfileStats1Label {
    clear: both;
    display: block;
    float: left;
    width: 15em;
    margin: 0.5em 0em;
    padding: 0em 0em 0em 1em;
  }
  #ProfileStats1Data {
    width: 4em;
    height: 1.7em;
    background-color: whitesmoke;
    //border: solid 1px;
    display: block;
    float: left;
    text-align: center;
    margin: 0.5em 0em;
    //border-radius: 1em;
  }

  // Liczba wydarzeń, w których uczestniczył
  #ProfileStats2 {
  }
  #ProfileStats2Label {
    clear: both;
    display: block;
    float: left;
    width: 15em;
    margin: 0.5em 0em;
    padding: 0em 0em 0em 1em;
  }
  #ProfileStats2Data {
    width: 4em;
    height: 1.7em;
    background-color: whitesmoke;
    //border: solid 1px;
    display: block;
    float: left;
    text-align: center;
    margin: 0.5em 0em;
    //border-radius: 1em;
  }

  // Liczba wydarzeń, które opuścił
  #ProfileStats3 {
  }
  #ProfileStats3Label {
    clear: both;
    display: block;
    float: left;
    width: 15em;
    margin: 0.5em 0em;
    padding: 0em 0em 0em 1em;
  }
  #ProfileStats3Data {
    width: 4em;
    height: 1.7em;
    background-color: whitesmoke;
    //border: solid 1px;
    display: block;
    float: left;
    text-align: center;
    margin: 0.5em 0em;
    //border-radius: 1em;
  }

  // Liczba wydarzeń, które anulował
  #ProfileStats4 {
  }
  #ProfileStats4Label {
    clear: both;
    display: block;
    float: left;
    width: 15em;
    margin: 0.5em 0em;
    padding: 0em 0em 0em 1em;
  }
  #ProfileStats4Data {
    width: 4em;
    height: 1.7em;
    background-color: whitesmoke;
    //border: solid 1px;
    display: block;
    float: left;
    text-align: center;
    margin: 0.5em 0em;
    //border-radius: 1em;
  }

  //Liczba wydarzeń, z których został wyrzucony
  #ProfileStats5 {
  }
  #ProfileStats5Label {
    clear: both;
    display: block;
    float: left;
    width: 15em;
    margin: 0.5em 0em;
    padding: 0em 0em 0em 1em;
  }
  #ProfileStats5Data {
    width: 4em;
    height: 1.7em;
    background-color: whitesmoke;
    //border: solid 1px;
    display: block;
    float: left;
    text-align: center;
    margin: 0.5em 0em;
    //border-radius: 1em;
  }
}
